@model BeyazEsyaSepeti.Models.UserProductContainer;

@{
    ViewData["Title"] = "Ana Sayfa";
}



<body>
    <div class="col-md-12">
        <div class="panel panel-info">
            <h3 class="bg">Ürünler</h3>
            <div class="panel-body">
                <div class="row">                    
                    @foreach (var product in Model.productList)
                    {
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <img src="@product.GetPath()" class="img-responsive" style="width:250px;height:250px" />
                        <div class="text-info">@product.Name</div>
                        <div class="text-danger"style="font-size: 2rem">@product.Price TL</div>
                        <a asp-controller="User" asp-action="AddProductToCart" asp-route-id ="@product.Id" asp-route-userId="@Model.user.Id" class="btn btn-info float-right">Sepete Ekle</a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>



